// @import './tailwind.scss';

.tittle-carousel {
    width: 70% !important;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}


.carousel-image {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));

}

.title-container {
    background:  rgb(11, 16, 36);
}



@media only screen and (min-width: 1369px) {
    .img-gradient {
        height: inherit;
        // position: absolute;
        // top: 0;
        background-image: linear-gradient(to right,  #0b1024, rgba(0,0,0,0));
        position: absolute;
        top: 0;
        left: 40.5%;
        height: 100%;
        width: 200px;
    }  

}

@media only screen and (max-width: 1368px) {
    .img-gradient {
        height: inherit;
        // position: absolute;
        // top: 0;
        background-image: linear-gradient(to right,  #0b1024, rgba(0,0,0,0));
        position: absolute;
        top: 0;
        left: 40.5%;
        height: 100%;
        width: 200px;
    } 
 }


.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }